# Database
DATABASE_URL="postgresql://coursesphere:coursesphere@localhost:5432/coursesphere_dev"

# JWT
JWT_SECRET="troque-isso-em-producao"
JWT_EXPIRES_IN="7d"

# Server
PORT=3333
NODE_ENV=development

# CORS
CORS_ORIGIN="http://localhost:3000"
